.add-product{
    padding: 10px;
}
.add-product button{
    margin-left: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 300;
    font-size: 20px;
    border: none;
    background-color: rgb(16, 184, 16);
    cursor: pointer;
}

.section-menagment table{
    width: 100%;
    border: 1px solid rgb(224, 224, 224);
    text-align: left;
}
.section-menagment table th{
    padding:10px;
}
.section-menagment table td{
    padding:10px;
    border-top: 1px solid rgb(224, 224, 224);
}
.section-menagment .btn-delete{
    margin-left: 5px;
    padding: 5px 15px;
    color: white;
    font-weight: 400;
    font-size: 20px;
    border: none;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}
.section-menagment .btn-update{
    margin-left: 5px;
    padding: 5px 15px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 204, 255);
    cursor: pointer;
}
#add-product-inputs{
    margin-left: 5px;
    padding: 5px 10px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(16, 184, 16);
    cursor: pointer;
}
#product-inputs{
    padding: 5px 10px;
}
#close-inputs{
    margin-left: 5px;
    padding: 5px 15px;
    color: white;
    font-weight: 300;
    font-size: 16px;
    border: none;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}